:block(button):mod(theme islands) {
    font-family: $button-fontFamily;

    position: relative;

    display: inline-block;

    margin: 0;
    padding: 0;

    user-select: none;

    color: var(--color-typo-primary); /* !!! */
    border: 0;
    border-radius: $button-borderRadius;
    outline: 0;
    background: var(--color-ghost); /* !!! */

    text-align: center;
    white-space: nowrap;

    -webkit-tap-highlight-color: var(--color-typo-primary);

    &::-moz-focus-inner {
        padding: 0;

        border: 0;
    }

    :block(button):elem(text) {
        position: relative;

        display: inline-block;
        overflow: hidden;

        text-overflow: ellipsis;
        vertical-align: top;
    }

    :block(icon) {
        position: relative;
        height: 100%;
    }

    &:block(button):mod(type link) {
        text-decoration: none;
    }

    /* Decorative element (inner background) */
    &:before {
        position: absolute;
        top: $button-before-space;
        right: $button-before-space;
        bottom: $button-before-space;
        left: $button-before-space;

        content: '';

        border-radius: $button-before-borderRadius;
        background: $color-default;
    }

    &:block(button):mod(hovered) {
        cursor: pointer;

        background: var(--color-hover);
    }

    &:block(button):mod(focused-hard) {
        z-index: 1;

        background: var(--color-border-focus);

        &:block(button):before {
            box-shadow: $button-focused-boxShadow $color-border-focus, inset $button-focused-boxShadow-inset $color-border-focus;
        }
    }

    &:block(button):mod(pressed):before {
        background: var(--color-press);
    }

    &:block(button):mod(checked) {
        background: var(--color-check); /* !!! */
        color: var(--color-typo-primary);

        &:before {
            background: var(--color-check);
        }

        &:block(button):mod(pressed) {
            background: var(--color-border-check-press);

            &:before {
                background: var(--color-check-press);
            }
        }

        &:block(button):mod(hovered) {
            background: var(--color-hover);
        }
    }

    &:block(button):mod(view plain) {
        background: none;

        &:block(button):mod(pressed) {
            background: var(--color-press);
        }

        &:block(button):mod(checked) {
            background: var(--color-check);

            &:block(button):mod(pressed) {
                background: var(--color-check-press);
            }
        }

        &:block(button):mod(disabled) {
            background: none;
        }
    }

    &:block(button):mod(view action) {
        background: var(--color-action);
        color: var(--color-typo-inverse); /* !!! */

        &:before {
            display: none;
        }

        &:block(button):mod(hovered) {
            background: var(--color-action-hover);
        }

        &:block(button):mod(pressed) {
            background: var(--color-action-press); /* 77777 сильно желтый / проверить */
        }

        &:block(button):mod(focused-hard) {
            animation: button-action-focus 0.5s infinite linear alternate;

            box-shadow: none;
        }
    }

    &:block(button):mod(view pseudo) {
        overflow: hidden;

        background: none;

        &:before {
            background: none;
            box-shadow: $button-pseudo-before-boxShadow $color-border;
        }

        &:block(button):mod(hovered):before {
            box-shadow: $button-pseudo-hovered-boxShadow $color-border-hover;
        }

        &:block(button):mod(pressed):before {
            background: var(--color-border-press);
        }

        &:block(button):mod(checked) {
            &:before {
                background: var(--color-check);
                box-shadow: $button-checked-before-boxShadow $color-border-check;
            }

            &:block(button):mod(hovered):before {
                box-shadow: $button-pseudo-hovered-boxShadow $color-border-hover;
            }

            &:block(button):mod(pressed):before {
                background: $color-check;
                box-shadow: $button-pseudo-pressed-boxShadow $color-border-press;
            }
        }
    }

    &:block(button):mod(disabled) {
        background: var(--color-disable);

        &:before {
            display: none;
        }

        &:block(button):mod(checked) {
            background: var(--color-disable-check);
        }

        :block(button):elem(text) {
            color: var(--color-typo-disable);
        }

        :block(icon) {
            opacity: 0.3;
        }
    }

    &:block(button):mod(size s) {
        font-size: $button-size-s-font;
        line-height: $button-size-s-lineHeight;

        :block(icon) {
            width: $button-size-s-icon-width;
        }

        :block(button):elem(text) {
            margin: $button-size-s-text-margin;
        }
    }

    &:block(button):mod(size m) {
        font-size: $button-size-m-font;
        line-height: $button-size-m-lineHeight;

        :block(icon) {
            width: $button-size-m-icon-width;
        }

        :block(button):elem(text) {
            margin: $button-size-m-text-margin;
        }
    }

    &:block(button):mod(size l) {
        font-size: $button-size-l-font;
        line-height: $button-size-l-lineHeight;

        :block(icon) {
            width: $button-size-l-icon-width;
        }

        :block(button):elem(text) {
            margin: $button-size-l-text-margin;
        }
    }

    &:block(button):mod(size xl) {
        font-size: $button-size-xl-font;
        line-height: $button-size-xl-lineHeight;

        :block(icon) {
            width: $button-size-xl-icon-width;
        }

        :block(button):elem(text) {
            margin: $button-size-xl-text-margin;
        }
    }

    & :block(icon) + :block(button):elem(text) {
        margin-left: 0;
    }

    :block(button):elem(text):not(:last-child) {
        margin-right: 0;
    }
}

@keyframes button-action-focus {
    from {
        background-color: var(--color-action);
    }

    to {
        background-color: var(--color-action-focus);
    }
}

:block(control-group) {
    :block(button):mod(checked) + :block(button):mod(theme islands):before,
    :block(radio):mod(checked) + :block(radio) :block(button):mod(theme islands):before,
    :block(checkbox):mod(checked) + :block(checkbox) :block(button):mod(theme islands):before {
        left: 0;
    }

    :block(button):mod(theme islands) {
        border-radius: $control-group-borderRadius;

        &:before {
            right: 0;

            border-radius: $control-group-before-borderRadius;
        }

        &:block(button):mod(checked):before {
            right: 1px;
        }

        &:block(button):mod(focused-hard):block(button):before {
            left: 0;
        }
    }

    > :block(button):mod(theme islands):first-child,
    > :first-child :block(button):mod(theme islands),
    > :first-child:block(popup) + :block(button):mod(theme islands) {
        border-radius: $control-group-first-child-borderRadius;

        &:before {
            border-radius: $control-group-first-child-before-borderRadius;
        }

        &:block(button):mod(focused-hard):block(button):before {
            left: 1px;
        }
    }

    > :block(button):mod(theme islands):last-child,
    > :last-child :block(button):mod(theme islands) {
        border-radius: $control-group-last-child-borderRadius;

        &:before {
            border-radius: $control-group-last-child-before-borderRadius;
            right: $control-group-last-child-before-border;
        }
    }

    > :only-child :block(button):mod(theme islands) {
        border-radius: $control-group-only-child-borderRadius;

        &:before {
            border-radius: $control-group-only-child-before-borderRadius;
        }
    }
}
