:block(progressbar):mod(theme islands) {
    overflow: hidden;

    :block(progressbar):elem(bar) {
        height: $progressbar-height;

        background: var(--color-control-border-focus);
    }
}
