:block(radio-group):mod(theme islands) {
    display: inline-block;

    &:block(radio-group):mod(size m) {
        line-height: var(--radio-group-size-m-lineHeight);
    }

    &:block(radio-group):mod(size l) {
        line-height: var(--radio-group-size-l-lineHeight);
    }

    &:block(radio-group):mod(type button) {
        display: inline-block;

        white-space: nowrap;
    }
}
