html {
	min-height: 100%;
}

:block(page):mod(theme islands) {
	/* font-family: var(--page-fontFamily); */

	min-height: 100%;
	margin: 0;

	color: var(--color-typo-primary); /* !!! */
	background: var(--color--default); /* !!! */

}


