:block(textarea):mod(theme islands) {
    /* font-family: var(--textarea-fontFamily); */

    display: inline-block;

    background: var(--color-control-default);

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: var(--textarea-minHeight);

    border-radius: --textarea-borderRaduis;

    border: var(--textarea-borderWidth) solid var(--color-control-border);
    outline: none;

    -webkit-appearance: none;
    -webkit-tap-highlight-color: var(--color-control-typo-primary);

    &::-webkit-input-placeholder {
        color: var(--color-control-typo-placeholder);
        text-indent: 0;
    }

    &::-moz-placeholder {
        opacity: 1;
        color: var(--color-control-typo-placeholder);
    }

    &:block(textarea):mod(focused) {
        border-color: var(--color-control-border-focus);
        /*box-shadow: $textarea-focused-boxShadow var(--color-control-border-focus);*/
    }

    &:block(textarea):mod(width available) {
        width: 100%;

        resize: vertical;
    }

    &:block(textarea):mod(disabled) {
        resize: none;
        cursor: default;

        color: var(--color-control-typo-disable);
        border-color: transparent;
        background: var(--color-control-disable); /*       */

        &::-webkit-input-placeholder {
            opacity: 0.4;
        }

        &::-moz-placeholder {
            opacity: 0.4;
        }
    }

    &:block(textarea):mod(size s) {
        font-size: var(--textarea-size-s-fontSize);
        line-height: var(--textarea-size-s-lineHeight);
        padding-left: var(--textarea-size-s-paddingLeft);
    }

    &:block(textarea):mod(size m) {
        font-size: var(--textarea-size-m-fontSize);
        line-height: var(--textarea-size-m-lineHeight);
        padding: var(--textarea-size-m-padding);
    }

    &:block(textarea):mod(size l) {
        font-size: var(--textarea-size-l-fontSize);
        line-height: var(--textarea-size-l-lineHeight);
        padding: var(--textarea-size-l-padding);
    }

    &:block(textarea):mod(size xl) {
        font-size: var(--textarea-size-xl-fontSize);
        line-height: var(--textarea-size-xl-lineHeight);
        padding-left: var(--textarea-size-xl-paddingLeft);
    }
}
