:block(link):mod(theme islands) {

    font-family: var(--link-fontFamily);
    color: var(--color-control-link);
    cursor: pointer;
    transition: var(--link-transition);
    text-decoration: var(--link-textDecoration);

    -webkit-tap-highlight-color: var(--color-link-hover);

    &:block(link):mod(view minor) {
        color: var(--color-link-hover);
    }

    &:block(link):mod(view external) {
        color: var(--color-link-external);
    }

    &:block(link):mod(view ghost) {
        color: var(--color-link-ghost);
        &:hover {
            color: var(--color-link-ghost-hover);
        }
    }

    &:block(link):mod(view text) {
        color: var(--color-typo-primary);
    }

    &:block(link):mod(view strong) {
        font-weight: bold;
    }

    &:hover {
        color: var(--color-link-hover);
    }

    @each $size, $val in (s, m, l, xl), ($link-size-s, $link-size-m, $link-size-l, $link-size-xl) {
        &:block(link):mod(size $size) {
            font-size: $val;
        }
    }

    &:block(link):mod(disabled) {
        color: var(--color-typo-disable);
        -webkit-tap-highlight-color: var(--color-control-base);
    }
}
