:block(link):mod(theme simple) {
    cursor: pointer;
    text-decoration: underline;

    &,
    &:link {
        color: var(--color-control-link);
    }

    &:visited {
        color: var(--color-control-link);
    }

    &:hover {
        color: var(--color-control-link);
    }
}
